@(data: List[model.ListRepositories]) 
@import java.math.BigInteger; var count=0
<html>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	overflow-wrap: anywhere;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.header {
	background-color: #171616;
	color: bisque;
	margin: -15px;
	margin-bottom: 50px;
	padding: 6px;
}
</style>

<body>
	<center class="header">
		<div>
			<h1 class="center">Welcome to Gitterific</h1>
		</div>
		<form method="GET" action="fetch">
			<input name="query" placeholder="enter search term(s)"> </input> <input
				type="submit" value="Go">
		</form>
	</center>

	<center>
		<table>
			<tr>
				<th>Users</th>
				<th>Repository Name</th>
				<th>Issues</th>
				<th>Visibility</th>
				<th>Commits</th>
			</tr>
			@for(d <- data){ 
			@if(count%10 != 0){
			<tr>
				<td><a href="users/@d.login" target="_blank">@d.login</a></td>
				<td>@d.name</td>
				<td>@d.issues_url</td>
				<td style="width: 8%">@d.visibility</td>
				<td>@d.commits_url</td>
			</tr>
			}else{
			<tr>
				<td style="height: 40; background-color: white; border: white"></td>
			</tr>
			}
			@{count = count+1} 
			}
		</table>
	</center>
</body>
</html>