@()
@import java.math.BigInteger; var count=0
<!DOCTYPE html>

<html>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	overflow-wrap: anywhere;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.header {
	background-color: #171616;
	color: bisque;
	margin: -15px;
	margin-bottom: 50px;
	padding: 6px;
}
</style>

<head>
<title>Gitterific</title>
<script type='text/javascript'
	src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>

<body>
	<center class="header">
		<div>
			<h1 class="center">Welcome to Gitterific</h1>
		</div>
		<div>
			<input id="searchKeyword" type="text" placeholder="Enter search key" />
		</div>
		<div>
			<button id="searchButton" type="button">Search</button>
		</div>
	</center>

	<center>
	<div id="searchedResults">
	</div>
	</center>

	<script>
		var sockets = [];
		var searchCount = 0;
		
		document.getElementById("searchButton").addEventListener("click", function() {
			searchCount++;
			closeAllSockets();
			let ws = new WebSocket("ws://localhost:9000/fetchRepositoriesWS");
			sockets.push(ws);
			url = "https://api.github.com/search/repositories?per_page=10&q=";
			ws.onopen = () => ws.send(JSON.stringify({
				"uri": url + document.getElementById("searchKeyword").value+"&sort=updated&order=desc"
			}));
			generateTable()
			ws.onmessage = function(event) {
				console.log("Updating Search");
				table = document.getElementById("table"+searchCount);
				clearTable(table);
				repositories = JSON.parse(event.data).data;
		  		for (itr in repositories) {
		  			generateNewRow(table, repositories[itr]);
		  		}
			}
		});
		
		function closeAllSockets() {
			sockets.forEach(function(s) {
		        s.close();
		    });
		}
		
		function generateTable() {
			var searchedResults = document.getElementById('searchedResults')
			if(searchCount >=5) {
				var select = searchedResults.removeChild(searchedResults.lastChild);
			}
			var table = document.createElement("TABLE");
			table.setAttribute("id", "table"+searchCount);
			table.style.marginTop = "50px";
			generateHeader(table);
			searchedResults.prepend(table);
			return table;
		}
		
		function generateHeader(table) {
			var head = table.createTHead();
			var row = head.insertRow(0);
			row.insertCell(0).innerHTML = "<b>User</b>";
			row.insertCell(1).innerHTML = "<b>Repository Name</b>";
			row.insertCell(2).innerHTML = "<b>Topic</b>";
		}
		
		function generateNewRow(table, repository) {
			var row = table.insertRow(1);
  			
  			var user = row.insertCell(0);
  			user.innerHTML = repository.login;
  			
  			var name = row.insertCell(1);
  			var a = document.createElement('a');
  			a.appendChild(document.createTextNode(repository.name));
  			a.href = "http://localhost:9000/navToRepositoryDetailsWS/" + repository.login + "/" + repository.name + "/description";
  			name.appendChild(a);
  			
  			var topics = row.insertCell(2);
  			topics.innerHTML = repositories[itr].topicword;
		}
		
		function clearTable(resultsTable) {
			while (resultsTable.hasChildNodes()) {
					resultsTable.removeChild(resultsTable.lastChild);
		    }
			generateHeader(table);
		}
	</script>

</body>
</html>