@(data: List[model.ListTopicsRepos])
<html>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
.header{
background-color: #171616;
    color: bisque;
    margin: -15px;
    margin-bottom: 50px;
    padding: 6px;
    
 
    
    
}
</style>

<body>
	<center class="header">
			<div>
				<h1 class="center">Topics</h1>
			</div>
		<form method="GET" action="topics">
			<input name="query" placeholder="enter search term(s)"> </input> 
			<input type="submit" value="Go">
		</form>
		<h5><i>Temporarily added will be removed</i></h5>
	</center>

	<center>
		<table>
			<tr>
				<th>Users</th>
				<th>Repository Name</th>
				<th>Link</th>
			</tr>
			@for(d <- data){
			<tr>
				<td><a href="users/@d.login" target="_blank">@d.login</a></td>
				<td>@d.name</td>
				<td><a href=@d.html_url target="">@d.html_url</a>
			</tr>
			}
		</table>
	</center>
</body>
</html>